<!DOCTYPE html>

<html>
    <head>
        <title><%= title %> </title>
        <script src="js/bootstrap.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <style type="text/css" media="screen">
          
      </style>
    </head>
    <body>
      <%- include('../partials/navbar.ejs') %>
        <div>
          to be done
        </div>
      <%- include('../partials/footer.ejs') %>
</html>